
body {
    margin: 0;
    padding: 0;
    background: #1b1b1b;
    color: #fff;
}

.logg {
    margin-top: 5%; 
}
.logo img {
    width: 100%;
    max-width: 500px;
}

.email {
    font-family: 'Courier', sans-serif;
    font-size: 0.85em;
    font-weight: normal;
}